#content {
  background-color: #ffffff;
  height: 300px;
  margin: auto;
  text-align: center;
  width: 650px;
}

html {
  background: url(/../images/prisonmike.png) no-repeat center center fixed;
  background-size: cover;
}

h1 {
  text-shadow: 2px 2px #800080;
}

#navigation {
  background-color: #ffffff;
  height: 300px;
  margin: auto;
  text-align: center;
  width: 650px;
}
