body {
 background-image: url("/../images/prisonmike.png");
 background-color: #cccccc;
}

#content {
  margin: auto;
  text-align: center;
  width: 650px;
  height: 300px;
  background-color: #FFFFFF;
}

h1 {
    text-shadow: 2px 2px #800080;
}
