body {
 background-image: url("/../images/mitvball.jpg");
 background-color: #cccccc;
}

#content {
  margin:auto;
  width: 650px;
  text-align: center;
  background-color: #FFFFFF;
}

h1 {
    text-decoration: underline double #f44336;
}
