a.button {
  background-color: #008cba; /* Blue */
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
}

a.button-blue {
  background-color: #ffffff;
  border: 2px solid #008cba;
  color: #000000;
}

a.button-blue:hover {
  background-color: #008cba;
  color: #ffffff;
}

a.button-black {
  background-color: #ffffff;
  border: 2px solid #555555;
  color: #000000;
}

a.button-black:hover {
  background-color: #555555;
  color: #ffffff;
}

a.button-red {
  background-color: #ffffff;
  border: 2px solid #f44336;
  color: #000000;
}

a.button-red:hover {
  background-color: #f44336;
  color: white;
}

a.button-purple {
  background-color: #ffffff;
  border: 2px solid #800080;
  color: #000000;
}

a.button-purple:hover {
  background-color: #800080;
  color: #ffffff;
}

a.button-yellow {
  background-color: #ffffff;
  border: 2px solid #f3ff00;
  color: #000000;
}

a.button-yellow:hover {
  background-color: #f3ff00;
  color: #000000;
}
