#body {
  margin: auto;
  text-align: center;
  width: 100%;
}

.center {
  display: block;
  margin: auto;
  width: 90%;
}

#content {
  background-color: #ffffff;
  margin: auto;
  width: 650px;
}

#description {
  text-align: center;
  width: 100%;
}

#greeting-container {
  margin-top: 20px;
}

#map {
  border: thin solid black;
  height: 500px;
  width: 500px;
}

html {
  background: url(/images/mitdome.jpg) no-repeat center center fixed;
  background-size: cover;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}
