#body {
  margin: auto;
  text-align: center;
  width: 100%;
}

.center {
  display: block;
  margin: auto;
  width: 90%;
}

#chart-container {
  margin-left: auto;
  margin-right: auto;
}

#content {
  background-color: #ffffff;
  margin: auto;
  width: 650px;
}

#description {
  text-align: center;
  width: 100%;
}

#greeting-container {
  margin-top: 20px;
}

html {
  background: url(/images/mitdome.jpg) no-repeat center center fixed;
  background-size: cover;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}
